<div class="top-row ps-3 navbar navbar-dark" style=" background-image: linear-gradient(to top, #330867 0%, #330867 100%); border-bottom: white 2px solid;">
    <div class="container-fluid fw-bold">
        <a class="navbar-brand" href=""> <img src="/Header.svg" class="image-item-head" aria-hidden="true" />Punto de Venta</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"
     style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="" Match="NavLinkMatch.All">
                <img src="/Dash.svg" class="image-item" aria-hidden="true" /> Movimientos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="Productos">
                <img src="/Product.svg" class="image-item" aria-hidden="true" /> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="facturacion">
                <img src="/Car.svg" class="image-item" aria-hidden="true" /> Facturaci&oacute;n
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="Configuracion">
                <img src="/Setting.svg" class="image-item" aria-hidden="true" /> Configuraci&oacute;n
            </NavLink>
        </div>
    </nav>
</div>

